body {
    background-color: #f3f3f3;
}

#header {
    margin:  40%;
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    color: purple;
    border: 2pt solid purple;
    border-radius: 20px;
}

#business-header {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

#business-title, #business-info {
    color: purple;
    border: 2pt solid purple;
    border-radius: 20px;
    padding: 1%;
    font-size: larger;
}

#acc-info {
    background-color: purple;
    color: white;
    border-radius: 20px;
    font-size: medium;
    padding: 3%;
    margin-left: 10%;
}

#business-info {
    width: 25%;
    text-align: center;
    align-items: end;
}

#title {
    margin: 0%;
    margin-top: 2%;
}

#subtitle {
    margin: 0%;
    margin-bottom: 2%;
}

hr.rounded {
    border-top: 3px solid purple;
    border-radius: 5px;
    width: 30%;
}

input[type=text],input[type=date], select {
    margin: 7px;
    border: 2px solid purple;
    border-radius: 4px;
    padding: 7px;
    width: 250px;
}

input[type=radio] {
    margin: 10px;
}

#forms, #forms-business, #forms-candidate {
    margin: 40%;
    margin-bottom: 2%;
    margin-top: 2%;
    border: 2pt solid purple;
    border-radius: 15px;
    text-align: center;
}

#forms-business, #forms-candidate {
    padding-top: 1%;
    padding-bottom: 1%;
    display: none;
}

#button-candidate, #button-business {
    background-color: purple;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 3%;
}

#button-candidate:hover, #button-business:hover, #acc-info:hover {
    background-color: rgb(170, 57, 170);
}

table {
    margin-top: 2%;
    border: 2pt solid purple;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    
}

tr {
    padding: 15%;
}

#list {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    border: 2pt solid purple;
    border-radius: 15px;
    padding: 2%;
}

.heart-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

p, #list-title {
    text-align: center;
}